/* We actually use tabs here so hide all displays except the panels pane one */
.node-type-wiki-page .tabs { display: none; }
.node-type-wiki-page  .pane-page_tabs .tabs { display: block; }

.node-type-wiki-page #comment-form .form-textarea { width: auto; }

.node-type-wiki-page .pane-node_terms .links li { border-left: 1px solid; }
.node-type-wiki-page .pane-node_terms .links .first { border-left: 0px none; }  

.node-wiki_page .content .item-list { margin-left: 0; }
.node-wiki_page .content .field h3 { font-size: 100%; font-weight: bold; line-height: normal; }

.node-wiki_page .field-wiki-images .more { margin: 5px 0 30px; text-align: right; }

/* Wiki images carousel */
.field-wiki-images .jcarousel-container { background-color: #ebebeb; padding: 5px 15px; }
.field-wiki-images .jcarousel-container .jcarousel-item { width: 138px; height: 120px; margin: 0; padding: 0; list-style: none outside; }
.field-wiki-images .jcarousel-container .jcarousel-item > * { display: block; padding: 0 10px; }
.field-wiki-images .jcarousel-container .jcarousel-item > > * { display: block; margin: 0; }

.field-wiki-images .jcarousel-next-horizontal{position: absolute; top: 45px; right: -17px; width: 35px; height: 35px; cursor: pointer; background: transparent url(../img/sprite-buttons.png) no-repeat 0 -35px;}
  .field-wiki-images .jcarousel-next-horizontal:hover {background-position: -35px -35px;}
  .field-wiki-images .jcarousel-next-horizontal:active {background-position: -70px -35px;}
  .field-wiki-images .jcarousel-next-disabled-horizontal,
  .field-wiki-images .jcarousel-next-disabled-horizontal:hover,
  .field-wiki-images .jcarousel-next-disabled-horizontal:active {cursor: default; background-position: -105px -35px;}

.field-wiki-images .jcarousel-prev-horizontal {position: absolute; top: 45px; left: -17px; width: 35px; height: 35px; cursor: pointer; background: transparent url(../img/sprite-buttons.png) no-repeat 0 0;}
  .field-wiki-images .jcarousel-prev-horizontal:hover {background-position: -35px 0;}
  .field-wiki-images .jcarousel-prev-horizontal:active {background-position: -70px 0;}
  .field-wiki-images .jcarousel-prev-disabled-horizontal,
  .field-wiki-images .jcarousel-prev-disabled-horizontal:hover,
  .field-wiki-images .jcarousel-prev-disabled-horizontal:active {cursor: default; background-position: -105px 0;}

/* Wiki page create/edit forms */
#ding-wiki-page-form .pane-form .form-item { padding: 9px; margin: 0 0 10px; border: 1px solid #DDD; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
#ding-wiki-page-form .form-item label { text-transform: uppercase; }
#ding-wiki-page-form table { width: 100%;  }
#ding-wiki-page-form tr.even,
#ding-wiki-page-form tr.odd { border-bottom: 1px solid #DDD; }
#ding-wiki-page-form tr.odd { background: #FFF; }
#ding-wiki-page-form .content-add-more { margin: 0 0 20px; }
#ding-wiki-page-form .edit-submit { background: #EEE; padding: 9px; } 
#ding-wiki-page-form .pane-form .form-item,
#ding-wiki-page-form table, 
#ding-wiki-page-form .edit-submit,
#ding-wiki-page-form .form-submit { border: 1px solid #DDD; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

#ding-wiki-page-form input.form-autocomplete,
#ding-wiki-page-form input.form-text, 
#ding-wiki-page-form textarea.form-textarea, 
#ding-wiki-page-form select.form-select { padding: 2px; border: 1px solid #E8E8E8; color: #666; }

/* Make sure we do not mess around with the WYSIWYG editor */
#ding-wiki-page-form .mceEditor table { width: auto; }

#ding-wiki-page-form .link-field-column { width: 100%; float: none; }

/* Form buttons
#ding-wiki-page-form .form-submit { cursor: pointer; padding: 2px 10px; color: #333; text-align: center; font-weight: normal; } 
/* Create a gradient */
#ding-wiki-page-form .form-submit {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F7F7F7'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#F7F7F7)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #EEE,  #CCC); /* for firefox 3.6+ */ 
}
#ding-wiki-page-form .form-submit:hover { background: #888; color: #FFF; }
#ding-wiki-page-form .form-submit:active { background: #888; color: #FFF; }

/* Handle subelements */
#ding-wiki-page-form .pane-form .form-item .form-item,
#ding-wiki-page-form .pane-form table .form-item { padding: 0; margin: 0; border: 0 none; }

